* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    font-family: Arial, sans-serif;   
    background-color: #b81818;
    color: #ffffff;
}
header {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    

}
.fs-4 {
    font-size: 1.5rem;
    color: #ffffff;
}
main {
    padding: 35px;
    margin-bottom:20px;
    top: auto;
}
h1.titulo {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
}
p.paragrafo {
    text-align: justify;
    margin: 20px auto;
    max-width: 600px;
    font-size: 18px;
    line-height: 1.6;
}
div.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    right:0;   
    z-index: 1000;
}
