* {
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b81818;
    color: #ffffff;
}
h1.titulo {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
}
p.paragrafo {
    text-align: justify;
    margin: 20px auto;
    max-width: 600px;
    font-size: 18px;
    line-height: 1.6;
}
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
