{% extends "_layout2.html" %}

{% block content %}
<h1>Sobre a Valéria.Arte</h1>
<p>Valéria.Arte é um espaço dedicado à arte e criatividade, onde você pode explorar uma variedade de obras e expressões artísticas. Nossa missão é promover a cultura e apoiar artistas locais, oferecendo um ambiente acolhedor para amantes da arte.</p>
<p>Fundada em 2020, Valéria.Arte tem crescido rapidamente, tornando-se um ponto de encontro para artistas e entusiastas da arte. Oferecemos exposições regulares, workshops e eventos especiais para envolver a comunidade e celebrar a diversidade artística.</p>
<p>Nosso compromisso é com a qualidade e a autenticidade, garantindo que cada obra apresentada seja cuidadosamente selecionada para refletir a paixão e o talento dos artistas que representamos.</p>
{% endblock %}