{% extends "_layout2.html" %}

{% block content %}
     <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <a href="{% url 'products-index' %}" class="btn btn-success font-weight-bold">Produtos</a>
            <a href="{% url 'sac_add' %}" class="btn btn-success font-weight-bold">SAC</a>
        </div>
     </div>
<h1 class="titulo">Bem vindo a Valéria.Arte</h1>
<p class="paragrafo">Explore nossa coleção de arte e descubra peças únicas que inspiram e encantam. Navegue por nossas categorias, conheça nossos artistas e participe de eventos especiais. Seja você um colecionador experiente ou um entusiasta da arte, Valéria.Arte tem algo especial para oferecer.</p>

{% endblock %}



<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valéria.Arte</title>
</head>
<body>
    <h1>Bem vindo a Valéria.Arte</h1>
    
</body>
</html> -->