{% extends '_layout2.html' %}
{% load static %}

{% block head_title %}
    Produtos - Valéria.Arte
{% endblock head_title %}

{% block content %}
    <p>Esta é a página de produtos da Valéria.Arte.</p>
    {% for product in all_products %}
        <div class="faq-item">
                <p>{{ product.name }} | 
                Preço: {{ product.price }} | 
                Descrição: {{ product.description }}</p>
        </div>
        {% empty %}
            <p>Nenhum produto disponível no momento.</p>
    {% endfor %}


{% endblock %}
