{% extends '_layout2.html' %}
{% load static %}

{% block head_title %}
    Produtos - Valéria.Arte
{% endblock head_title %}

{% block content %}
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Produtos Cadastrados</h2>
            <a href="{% url 'product_add' %}" class="btn btn-primary">Adicionar Produto</a>
        </div>
    </div>
    
    {% for product in all_products %}
        <div class="card mb-3">
            <div class="card-body">
                <table>
                    <tr>
                        <td rowspan="3" style="width: 150px; text-align: center;">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid" style="max-height: 150px;">
                            {% else %}
                                <img src="{% static 'images/no_image_available.png' %}" alt="No Image" class="img-fluid" style="max-height: 150px;">
                            {% endif %}
                        </td>
                        <td><strong>Nome:</strong> {{ product.name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Preço:</strong> R$ {{ product.price }}</td>
                    </tr>
                    <tr>
                        <td><strong>Descrição:</strong> {{ product.description }}</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'product_edit' product.id %}" class="btn btn-warning">Editar</a>
                            <a href="{% url 'product_delete' product.id %}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este produto?');">Excluir</a>
                        </td>
                    </tr>
                </table>
                
            </div>
        </div>
        {% empty %}
            <p>Nenhum produto disponível no momento.</p>
    {% endfor %}


{% endblock %}
