{% extends '_layout2.html' %}
{% load static %}

{% block head_title %}
    Pergunta - Valéria.Arte
{% endblock head_title %}

{% block content %}
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Esta é a página de perguntas frequentes (SAC) da Valéria.Arte.</h2> <hr>
            <a href="{% url 'sac_add' %}" class="btn btn-success font-weight-bold">Incluir novo SAC</a> <br><br>
        </div>
    </div>
    {% for question in all_questions %}
        <div class="faq-item">
                <p>Publicado em: {{ question.pub_date | date:"d/m/y H:i" }} | {{ question.question_text }} <br> 
                    <a href="{% url 'sac_detail' question.pk %}" class="btn btn-primary">Ver</a>
                    <a href="{% url 'sac_edit' question.pk %}" class="btn btn-warning btn-sm">Editar</a>  
                    <a href="{% url 'question_delete' question.pk %}" class="btn btn-danger btn-sm">Excluir</a></p>
        </div>
        {% empty %}
            <p>Nenhuma pergunta disponível no momento.</p>
          
    {% endfor %}


{% endblock %}
